In [7]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

In [8]:
Results = pd.read_csv("results.csv")
Results["movie_or_TV_name"] = Results["movie_or_TV_name"].str.split(",")
count_dict = {}
for movies_of_actress in Results["movie_or_TV_name"]:
    for movie in movies_of_actress:
        if movie in count_dict.keys():
            count_dict[movie] += 1
        else:
            count_dict[movie] = 1
df_movie = pd.DataFrame(count_dict.items(), columns=['Movie', 'Shared_actress'])
df_movie = df_movie.sort_values(by=['Shared_actress'], ascending =  False)
df_movie = df_movie.reset_index(drop = True)
df_movie.head(15)

                                Movie  Shared_actress
0                               Tenet              77
1      CSI: Crime Scene Investigation               7
2                    Kättemaksukontor               6
3              Agents of S.H.I.E.L.D.               5
4                       Batman Begins               5
5                           Shameless               5
6                                NCIS               5
7                             Dunkirk               5
8                            S.W.A.T.               5
9                       Hawaii Five-0               4
10                  NCIS: Los Angeles               4
11                        Magnum P.I.               4
12  Law & Order: Special Victims Unit               4
13                      The Mentalist               4
14                        Kelgukoerad               4