In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

In [2]:
Results = pd.read_csv("results.csv")

In [3]:
Results

                  actor                                   movie_or_TV_name
0   Klaus Peeter Rüütli  Tenet,The Renovation,Klassikokkutulek 3: Risti...
1       Evodius Rumisha                                        Ndomu,Tenet
2        Indrek Sakkeus                                   Tenet,Green Cats
3          Daniel Olesk                                  Omerta 12/6,Tenet
4          Ronald Pelin  December,Tenet,The Bridge,Zaytsev+1,Sõprus-Dru...
..                  ...                                                ...
76      Rich Ceraulo Ko  Heel,CSI: Vegas,Along Came Wanda,The Boy Behin...
77        Michael Caine  Now You See Me 3,The Great Escaper,Medieval,Be...
78       Jefferson Hall  House of the Dragon,Angelyne,Tenet,Devs,Skin W...
79        Andrew Howard  Kupu Kupu,Egg Soldier,Mayor of Kingstown,The N...
80          Ivo Uukkivi  Child Machine,Infinite Summer,Tulejoonel,Kratt...

[81 rows x 2 columns]

In [4]:
Results["movie_or_TV_name"] = Results["movie_or_TV_name"].str.split(",")

In [5]:
count_dict = {}
for movies_of_actress in Results["movie_or_TV_name"]:
    for movie in movies_of_actress:
        if movie in count_dict.keys():
            count_dict[movie] += 1
        else:
            count_dict[movie] = 1

In [6]:
df_movie = pd.DataFrame(count_dict.items(), columns=['Movie', 'Shared_actress'])
df_movie = df_movie.sort_values(by=['Shared_actress'], ascending =  False)
df_movie = df_movie.reset_index(drop = True)
df_movie.head(15)

                                Movie  Shared_actress
0                               Tenet              77
1      CSI: Crime Scene Investigation               7
2                    Kättemaksukontor               6
3              Agents of S.H.I.E.L.D.               5
4                       Batman Begins               5
5                           Shameless               5
6                                NCIS               5
7                             Dunkirk               5
8                            S.W.A.T.               5
9                       Hawaii Five-0               4
10                  NCIS: Los Angeles               4
11                        Magnum P.I.               4
12  Law & Order: Special Victims Unit               4
13                      The Mentalist               4
14                        Kelgukoerad               4